nav{
	background: grey ;
	width: 250px ;
	height: 100vh;
	padding-top: 32px;
	border-radius: 0 10px 0 0;
	position: fixed;
	z-index: 5;
	top:0px;
	left:0px;
}
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "Poppins", sans-serif;
}
nav h3{
	color: blue;
	text-align: center;
	margin-bottom: 32px;

}
nav a{
	color: white;
	text-decoration: none;
	display: block;
	padding: 8px 0 8px 16px ;
	transition: 0.5s ;
}
nav a:hover{
	background-color: white;
	color: blue;
}
main{
	margin-left: 250px;
	padding:80px 32px 0 32px ;
}
h1{
	font-size: 50px;
	font-weight: 500;
	margin-bottom: 100px;
}
h2{
	color: black;
	font-size: 40px;
	color: #6e6e6e;
	font-weight: 500;
	margin-bottom: 40px;
}
hr{
	height: 10px;
	background: grey;
	border-radius:10px ;
	margin-bottom: 30px;
}
.showcase__img img{
	width: 48%;
	border-radius: 10px;
	margin: 5px;
	opacity: 50%;
	transition: 0.5s;
	text-align: center;
	min-width:260px;
}
.showcase__img img:hover{
	opacity: 100%;
}
html{
	scroll-behavior:smooth ;
}
section{
	padding: 50px 0px 50px 0px;
}
section p{
	line-height: 150%;
}
.designers__item{
	display: inline-block;
	width: 30%;
	min-width: 260px;
	margin: 10px 0 10px 0px;
}
.designers__item img{
	width: 100%;
	border-radius: 10px;
}
.designers__info{
	background: grey;
	border-radius: 10px;
	padding: 8px;
}
.designers__info span{
	color: #dfdfdf;
	margin-bottom: 15px;
	display: inline-block;
}
.designers__info p{
	line-height: 150%;
	color: blue;
}
.packages{
	text-align: center;	height: 10px;
	color: blue;
}
.packages hr{
	height: 10px;
	background: blue;
	border-radius:10px ;
	margin-bottom: 30px;
}
ul{
	background: #e7e7e7;
	width: 45%;
	list-style: none;
	text-align: center;
	border-radius: 10px;
	display: inline-block;
	min-width: 260px;
	margin: 10px 0px 10px 0px;
}
li{
	border-bottom: 1px solid grey ;
	border-radius: 8px;
	padding: 12px;
}
.Name-packed{
	padding: 32px 12px;
	background: purple;
	color: blue;
	font-size: 24px;
	font-weight: bold;
}
.button{
	background-color: purple;
	border-radius: 10px;
	color: blue;
	cursor: pointer;
	padding: 8px;
	border: none;
	font-size: 24px;
	transition: 0.4s;
}
.button:hover{
	background-color: white;
	color: purple;
	transition: 0.4s;

}
.orange{
	background: orange;
}
button.orange:hover{
	color: orange;
}
.Packages__list{
	text-align: center;
}
.designers__list{
	text-align: center;
}
.packages hr{
	height: 10px;
	background: grey;
	border-radius:10px ;
	margin-bottom: 30px;
}
.Contact{
		height: 10px;
	background: grey;
	border-radius:10px ;
	margin-bottom: 30px;
	text-align: center;
}
.contact hr{
		height: 10px;
	background: grey;
	border-radius:10px ;
	margin-bottom: 30px;
}
.Packages p{
	margin-bottom: 20px;
}
label{
	display: block;
	margin-bottom:10px ;
}
input{
	width: 100%;
	border: 1px solid grey;
	border-radius: 6px;
	padding: 16px;
	outline: none;
	transition:0.5s;
	margin-bottom: 16px;
}
textarea{
	width: 100%;
	border: 1px solid grey;
	border-radius: 8px;
	padding: 16px;
	resize: none;
	height: 150px;
	outline: none;
	transition:0.5s;
	margin-bottom: 16px;
}
button{
	width: 100%;
	border: 1px solid grey;
	border-radius: 8px;
	padding: 16px;
	background: blue;
	color: blue;
	font-size: 24px;
	transition: 0.5s ;
	cursor:pointer ;

}
*{
	box-sizing: border-box;
}
button:hover{
	background-color: blue;
	color: blue;
	
}
input:focus, textarea:focus{
	box-shadow: 0 0 10px grey;
}
footer{
	background: blue;
	z-index:6 ;
	position: relative;
	padding: 32px 16px;
	color: blue;
	border-radius: 0 10px 0 0;
}
.showcase__img{
	text-align: center;
}